/* index.css */
body {
    background-color: #161616; /* Устанавливаем цвет фона */
    color: #ffffff; /* Устанавливаем цвет текста для контраста, если нужно */
    margin: 0; /* Убираем стандартные отступы браузера */
    font-family: Arial, sans-serif; /* Устанавливаем шрифт по умолчанию */
}
